@media only screen and (max-width: 1000px) {
	p {
		background-position: unset !important;
	}
}

body {
	overflow: hidden;
	height: 100vh;
	background-color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
	background: url("bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	-webkit-background-clip: text;
	word-spacing: 0.5px;
	letter-spacing: 0.5px;
	line-height: 12px;
	font-size: 14px;
	font-weight: 100;
}
